In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
import time

In [2]:
# pip install webdriver_manager
# pip install splinter

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Driver [/Users/richardnwokoye/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [4]:
# visit mars news site
mars_news_site_url = 'https://redplanetscience.com/'
browser.visit(mars_news_site_url)

In [5]:
mars_html = browser.html
soup = bs(mars_html, 'html.parser')
news_title = soup.find_all('div', class_='content_title')
news_text = soup.find_all('div', class_='article_teaser_body')

In [6]:
headlineList = []
textList = []
for i in zip(news_title,news_text):
    headline = i[0].text.strip()
    news_body = i[1].text.strip()
    headlineList.append(headline)
    textList.append(news_body)

In [7]:
# Visit to Space Images
mars_image_site_url = 'https://spaceimages-mars.com'
browser.visit(mars_image_site_url)

In [8]:
mars_html = browser.html
soup = bs(mars_html, 'html.parser')
img_url = mars_image_site_url + soup.find('img', class_='headerimage fade-in').get('src')
img_url

'https://spaceimages-mars.comimage/featured/mars2.jpg'

### Keep for test
 - soup_text = soup.find('button', class_='btn-outline-light').text.strip()
 - news_text = soup.find_all('div', class_='article_teaser_body')   
 - img = soup.find('a', class_='showimg fancybox-thumbs')
 - img2 = soup.find('a', class_='href')

In [9]:
mars_facts_site_url = 'https://galaxyfacts-mars.com'
browser.visit(mars_facts_site_url)

In [10]:
mars_facts_html = browser.html
soup = bs(mars_facts_html, 'html.parser')

In [11]:
facts = pd.read_html(mars_facts_html)
facts

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
df1 = facts[0]
df1
header_row = 0
df1.columns = df1.iloc[header_row]
df1.drop(header_row)

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
df2 = facts[1]
header_row = 0
df2.columns = df2.iloc[header_row]
df2.drop(header_row)

0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
# Production Version
mars_hemspheres_url = 'https://marshemispheres.com/'
browser.visit(mars_hemspheres_url)
html = browser.html
soup = bs(html, 'html.parser')
links = soup.find_all('a', class_='itemLink product-item')
dict_list = []

for i in range(1, len(links),2):
    mydict= {}
    title = links[i].text.split('\n')[1]
    lnk = mars_hemspheres_url + links[i].get('href')
    browser.visit(lnk)
    html = browser.html
    soup = bs(html, 'html.parser')
    time.sleep(1)
    img_url = soup.find('img', class_='wide-image').get('src')
    mydict['title'] = title
    mydict['link'] = lnk
    mydict['img_url'] = img_url
    dict_list.append(mydict)
    browser.back()

In [15]:
dict_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/cerberus.html',
  'img_url': 'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/schiaparelli.html',
  'img_url': 'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/syrtis.html',
  'img_url': 'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/valles.html',
  'img_url': 'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [16]:
browser.quit()